html, body{
  height: 100%;
  margin: 0;
}
.input {
  border: 1px solid red;
}
div{
  font-size: 20px;
}
.fade{
  height: 50px;
  line-height: 50px;
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 10px;
}
#root>div:first-child{
  flex: 1;
  border: 1px solid #F56C6C;
  padding: 30px;
}
#root>div:nth-child(2){
  flex: 2;
  margin-top: 10px;
  border: 1px solid #C0C4CC;
  padding: 30px;
}
.show{
  animation: show-item 2s ease-in-out forwards;
}
.hide{
  /* forwards 可以让动画保留最后一帧*/
  animation: hide-item 2s ease-in-out forwards;
}

@keyframes hide-item {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 0.1;
    color: blue;
  }
}
@keyframes show-item {
  0% {
    opacity: 0.1;
    color: blue;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 1;
    color: red;
  }
}
.fade-active{
  opacity: 0;
}

.enter{
  opacity: 0;
}
.enter-active, .appear-active{
  opacity: 1;
  transition: opacity 1s ease
}
.enter-done{
  opacity: 1;
}
.exit{
  opacity: 1;
}
.exit-active{
  opacity: 0;
  transition: opacity 1s ease
}
.exit-done{
  opacity: 0;
}
